# Node modules
node_modules/
server/node_modules/

# Завантажені аватари користувачів (крім стандартного)
server/uploads/avatars/*
!server/uploads/avatars/default.png

# Логи та системні файли
npm-debug.log
.DS_Store